/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
    padding-top: 50px;
    padding-bottom: 20px;
}
.exImage{
    background-color: white;
    padding: 2px;
}
















